@model LandLordDashModel
@{
    var count = 0;
}
<div class="container" aling="center">

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-primary text-white">
                <div class="card-body">Properties Posted</div>
                <div class="card-body">
                    @Model.Posted <i class="fas fa-chart-line d-flex justify-content-end align-content-end" style="font-size:48px;"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success text-white">
                <div class="card-body">Approved Properties</div>
                <div class="card-body">
                    @Model.Approved <i class="fas fa-chart-line d-flex justify-content-end align-content-end" style="font-size:48px;"></i>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-warning text-white">
                <div class="card-body">Pending Approval</div>
                <div class="card-body">
                    @Model.Pending <i class="fas fa-chart-line d-flex justify-content-end align-content-end" style="font-size:48px;"></i>
                </div>

            </div>
        </div>

    </div>
    <br />

    <div class="card p-2">

        <div style="width:100%; margin:0 auto;">


            <div class=" d-flex justify-content-center">
                <h4>Properties</h4>
            </div>
       @*     <div class=" d-flex justify-content-end mb-2">
                <a class="btn btn-primary" asp-controller="LandLord" asp-action="CreateListing">
                    <i class="far fa-plus-square"></i> Add New Listing
                </a>
            </div>*@
            <table id="dataTable" class="table table-sm table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact Info</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Message</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var row in Model.Listings)
                {
                    <tr>
                        <td>@(++count)</td>
                        <td>@row.Name</td>
                        <td>@row.Address</td>
                        <td>@row.ContactInfo</td>
                        <td>@row.Price</td>
                        <td>@row.Status</td>
                        <td>@row.AdminMessage</td>
                        <td>
                            <a href="ViewListing/@row.Id">
                                <span style="font-size:15px;">
                                    <i class="far fa-folder-open mr-5" style="font-size:10px;"></i>View
                                </span>
                            </a>
@*
                            <a href="Deletlisting/@row.Id">
                                <span style="font-size:15px;">
                                    <i class="fas fa-trash ml-5" style="font-size:10px;"></i>Delete
                                </span>
                            </a>*@




                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>