@model ListingsViewModel

<div class="container" aling="center">

    <div class="col-md-10 mx-auto py-4">
        <div class="card">
            <div class="card-header bg-primary text-uppercase text-white">
                <h4>Edit Property Details</h4>
            </div>
            <div class="card-body">
                <form asp-action="UpdateListing">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" type="number" class="form-control" required />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Type" class="control-label"></label>
                                <select asp-for="Type" class="form-control" required>
                                    <option value="">Choose Type</option>
                                    <option value="Rent">Rent</option>
                                    <option value="Sale">Sale</option>
                                    <option value="Lease">Lease</option>
                                </select>
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ListingCategory" class="control-label"></label>
                                <select asp-for="ListingCategory" class="form-control" required>
                                    <option value="">Choose Listing Category</option>
                                    <option value="Self_Contain">Self_Contain</option>
                                    <option value="Mini_Flat">Mini_Flat</option>
                                    <option value="Bedroom2_Apartment">Bedroom2_Apartment</option>
                                    <option value="Bedroom3_Apartment">Bedroom3_Apartment</option>
                                    <option value="Bungalow">Bungalow</option>
                                    <option value="Duplex">Duplex</option>
                                </select>
                                <span asp-validation-for="Type" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" required />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ContactInfo" class="control-label"></label>
                                <input asp-for="ContactInfo" class="form-control" required />
                                <span asp-validation-for="ContactInfo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" rows="3" required></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" asp-for="Available" type="checkbox" >
                                    <label class="form-check-label">This property is still Available.   </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" d-flex justify-content-center mt-2">

                        <input type="submit" value="Update Listing" class="btn btn-md btn-success rounded-1 text-uppercase mt-1 bgBtn" />
                    </div>

                    <h5 class="mt-3">Property Images</h5>
                    <hr />
                    <div class=" d-flex justify-content-end mb-2">
                        <a class="btn btn-primary" onclick="imgAddClicked()">
                            <i class="far fa-plus-square"></i> Add New Image
                        </a>
                    </div>
                    <div class="row row-cols-4 mt-2">
                        @foreach (var item in Model.ListingImages)
                        {
                            <div class="col">
                                <img src="data:image;base64,@(Convert.ToBase64String(item.FileByte))" style="width: 250px;" />
                                <input type="checkbox" value="@item.IsDefault" checked="@item.IsDefault" disabled readonly/>
                                <a asp-action="DeleteImage" asp-route-listid="@Model.Id" asp-route-id="@item.Id" class="btn btn-md btn-info" class="m-1">
                                    <span style="font-size:15px;">
                                        <i class="fas fa-trash"></i>&nbsp;Delete
                                    </span>
                                </a>
                            </div>

                        }
                    </div>

                </form>

            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="addImgModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="btnHideModal" lass="close" data-dismiss="modal">
                        ×
                    </button>
                    <h4 class="modal-title">@Model.Name</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" asp-action="UpdateImage">
                        <input type="hidden" name="ListingsId" for="ListingsId" value="@Model.Id" />


                        <div class="form-group">
                            <label class="control-label">Select Image</label>
                            <div class="custom-file">
                                <input for="File" class="form-control" name="File" type="file" accept=".jpg,.png,.jpeg" required>
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" for="IsDefault" name="IsDefault" type="checkbox" >
                            <label class="form-check-label">Set as Default Imgage </label>
                        </div>

                        <div class=" d-flex justify-content-center mt-2">

                            <input type="submit" value="Save" class="btn btn-md btn-success rounded-1 text-uppercase mt-1" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>